################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/DapperDemo.Business/bin/Debug
/DapperDemo.Data/bin/Debug
/DapperDemo.Web/bin
